body{
    background-color: gray;
    margin: 4%;
}
#image{
    size: 50%;
}
div{
    justify-content:space-evenly;
    margin-left: 10%;
    padding: 10%;
    background-color: red;
}
h1{
    font-size: xx-large;
    align-content:space-between;
    background-color: black;
}
p{
    margin-left: 5%;
}
#photos{
    display: flex;
    gap: 20px;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-content: center;
}